header{
    background-color: wheat;
    display:block;
    list-style-type:lower-latin;
    font-family: sans-serif;
    width: auto;
}

body{
    background-color: steelblue;
    flex-direction: column;
}

.header h1{
        font-size: 70px;
        text-align: center;
}
/* put name and nav attributes on same line */

nav {
    display: flex;
    background-color: #d8a47f;
    text-align: end;
    flex-direction: row;
    justify-content: space-around;
  }


nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    justify-content:center;
    font-size: 40px;
  }

#nav a{
    justify-content: space-between;
}
  
nav a:hover{
    background-color: #aaaaaa;
}

h2{
    padding: 40px;
  text-align:left;
  background:steelblue;
  color:black;
  text-align: center;
  border-radius: 50px 50px 0px 0px;
}

#about-me{
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    background: goldenrod;
    width: 60%;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 0 auto;
    display: inline-block;
    font-size: large;
}

#my-work{
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    background: goldenrod;
    width: 60%;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 0 auto;
    display: inline-block;
    font-size: larger;
}

#contact-me{
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 0 auto;
    width: 60%;
    position:-webkit-sticky;
  background: goldenrod;
  top: 30px;
  left: 30px;
  display: inline-block;
  font-size: x-large;
}

#aboutimg{
    width: 30%;
    border-radius: 20%;
}
#workimg{
    width: 30%;
    border-radius: 20%;
}
#contactimg{
    width: 30%;
    border-radius: 20%;
}

img{
    width: 65%;
    border-radius: 20%;
}

/*  
list-style-type:circle;
    
    margin-left: 25px;
    padding: auto;
    
    flex-direction: column;
    flex-wrap: wrap;*/




/*  
.header img {
    height: 320px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
 background-position: center;
 background-image: url(/assets/Header\ background\ image.png)
<img src="/assets/Header background image.png" alt="Header-background-img" />
    
        }*/
        


 /* =add a flex-wrap to order how things will move in order when window size is changed which means I have to learn how to order my about me section*/
 /* =add space-evenly/between to both the nav and contact me sections */
 /* =for my responsive design use font size (rem) to h1 to h3 */
/* make your works section hover with :hover */


